@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #e5e3dc;
  --link-color: #e2e2dc;
--overlay-bg: #0a0a0a;
}

*{
  margin: 0;
  padding: 0;
  width: 100vw;
  /* height: 100vh; */
}

@font-face {
    font-family: neue-thin;
    src: url(./fonts/neue/NeueHaasDisplay-Thin.ttf);
  }

@font-face {
    font-family: neue-medium;
    src: url(./fonts/neue/NeueHaasDisplay-Mediu.ttf);
  }

@font-face {
    font-family: neue-medium;
    src: url(./fonts/neue/NeueHaasDisplay-Light.ttf);
  }

@font-face {
    font-family: proxima;
    src: url(./fonts/proxima/Proxima\ Nova\ Font.otf);
  }
@font-face {
    font-family: galgo;
    src: url(./fonts/galgo/Galgo.ttf);
  }
@font-face {
    font-family: impact;
    src: url(./fonts/impact.ttf);
  }


  .proxima{
    font-family: proxima;
  }
.impact{
  font-family: impact;
  letter-spacing: 2px;
}
.neue{
  font-family: neue-medium;
}
  .image-container {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    position: relative;
  }
  
  .image-half {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url(assets/lady.png);
    background-size: cover;
    background-position: center;
    transform-origin: center right;
  }
  
  .image-half.right {
    left: 50%;
    transform-origin: center left;
  }
  
  .image-half.left {
    left: 0;
  }
  

.bg-cover{
  background-color: red;
}

.bg-center{
  background-color: aliceblue;
}

.nav-section {
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 24px;

}
